<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="model.mapper.GongChengMapper" >
  <resultMap id="BaseResultMap" type="model.po.GongCheng" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="xiang_mu_id" property="xiangMuId" jdbcType="INTEGER" />
    <result column="dan_xiang_gong_cheng_" property="danXiangGongCheng" jdbcType="VARCHAR" />
    <result column="gui_mo_mian_ji_" property="guiMoMianJi" jdbcType="VARCHAR" />
    <result column="gui_mo_chang_du_" property="guiMoChangDu" jdbcType="VARCHAR" />
    <result column="gui_mo_qi_ta_" property="guiMoQiTa" jdbcType="VARCHAR" />
    <result column="yan_gao_" property="yanGao" jdbcType="VARCHAR" />
    <result column="zong_gao_" property="zongGao" jdbcType="VARCHAR" />
    <result column="di_shang_di_xia_ceng_shu_" property="diShangDiXiaCengShu" jdbcType="VARCHAR" />
    <result column="gong_cheng_lei_bie_" property="gongChengLeiBie" jdbcType="VARCHAR" />
    <result column="jie_gou_lei_xing_" property="jieGouLeiXing" jdbcType="VARCHAR" />
    <result column="ji_chu_jie_gou_" property="jiChuJieGou" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, xiang_mu_id, dan_xiang_gong_cheng_, gui_mo_mian_ji_, gui_mo_chang_du_, 
    gui_mo_qi_ta_, yan_gao_, zong_gao_, di_shang_di_xia_ceng_shu_, gong_cheng_lei_bie_, 
    jie_gou_lei_xing_, ji_chu_jie_gou_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.po.GongChengExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gong_cheng_
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gong_cheng_
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gong_cheng_
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="model.po.GongChengExample" >
    delete from gong_cheng_
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.po.GongCheng" >
     <selectKey keyProperty="id" resultType="int">  
            select LAST_INSERT_ID()  
    </selectKey> 
    insert into gong_cheng_ (id, name, xiang_mu_id, 
      dan_xiang_gong_cheng_, gui_mo_mian_ji_, gui_mo_chang_du_, 
      gui_mo_qi_ta_, yan_gao_, zong_gao_, 
      di_shang_di_xia_ceng_shu_, gong_cheng_lei_bie_, jie_gou_lei_xing_, 
      ji_chu_jie_gou_)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{xiangMuId,jdbcType=INTEGER}, 
      #{danXiangGongCheng,jdbcType=VARCHAR}, #{guiMoMianJi,jdbcType=VARCHAR}, #{guiMoChangDu,jdbcType=VARCHAR}, 
      #{guiMoQiTa,jdbcType=VARCHAR}, #{yanGao,jdbcType=VARCHAR}, #{zongGao,jdbcType=VARCHAR}, 
      #{diShangDiXiaCengShu,jdbcType=VARCHAR}, #{gongChengLeiBie,jdbcType=VARCHAR}, #{jieGouLeiXing,jdbcType=VARCHAR}, 
      #{jiChuJieGou,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.po.GongCheng" >
    insert into gong_cheng_
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="xiangMuId != null" >
        xiang_mu_id,
      </if>
      <if test="danXiangGongCheng != null" >
        dan_xiang_gong_cheng_,
      </if>
      <if test="guiMoMianJi != null" >
        gui_mo_mian_ji_,
      </if>
      <if test="guiMoChangDu != null" >
        gui_mo_chang_du_,
      </if>
      <if test="guiMoQiTa != null" >
        gui_mo_qi_ta_,
      </if>
      <if test="yanGao != null" >
        yan_gao_,
      </if>
      <if test="zongGao != null" >
        zong_gao_,
      </if>
      <if test="diShangDiXiaCengShu != null" >
        di_shang_di_xia_ceng_shu_,
      </if>
      <if test="gongChengLeiBie != null" >
        gong_cheng_lei_bie_,
      </if>
      <if test="jieGouLeiXing != null" >
        jie_gou_lei_xing_,
      </if>
      <if test="jiChuJieGou != null" >
        ji_chu_jie_gou_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="xiangMuId != null" >
        #{xiangMuId,jdbcType=INTEGER},
      </if>
      <if test="danXiangGongCheng != null" >
        #{danXiangGongCheng,jdbcType=VARCHAR},
      </if>
      <if test="guiMoMianJi != null" >
        #{guiMoMianJi,jdbcType=VARCHAR},
      </if>
      <if test="guiMoChangDu != null" >
        #{guiMoChangDu,jdbcType=VARCHAR},
      </if>
      <if test="guiMoQiTa != null" >
        #{guiMoQiTa,jdbcType=VARCHAR},
      </if>
      <if test="yanGao != null" >
        #{yanGao,jdbcType=VARCHAR},
      </if>
      <if test="zongGao != null" >
        #{zongGao,jdbcType=VARCHAR},
      </if>
      <if test="diShangDiXiaCengShu != null" >
        #{diShangDiXiaCengShu,jdbcType=VARCHAR},
      </if>
      <if test="gongChengLeiBie != null" >
        #{gongChengLeiBie,jdbcType=VARCHAR},
      </if>
      <if test="jieGouLeiXing != null" >
        #{jieGouLeiXing,jdbcType=VARCHAR},
      </if>
      <if test="jiChuJieGou != null" >
        #{jiChuJieGou,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.po.GongChengExample" resultType="java.lang.Integer" >
    select count(*) from gong_cheng_
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gong_cheng_
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.xiangMuId != null" >
        xiang_mu_id = #{record.xiangMuId,jdbcType=INTEGER},
      </if>
      <if test="record.danXiangGongCheng != null" >
        dan_xiang_gong_cheng_ = #{record.danXiangGongCheng,jdbcType=VARCHAR},
      </if>
      <if test="record.guiMoMianJi != null" >
        gui_mo_mian_ji_ = #{record.guiMoMianJi,jdbcType=VARCHAR},
      </if>
      <if test="record.guiMoChangDu != null" >
        gui_mo_chang_du_ = #{record.guiMoChangDu,jdbcType=VARCHAR},
      </if>
      <if test="record.guiMoQiTa != null" >
        gui_mo_qi_ta_ = #{record.guiMoQiTa,jdbcType=VARCHAR},
      </if>
      <if test="record.yanGao != null" >
        yan_gao_ = #{record.yanGao,jdbcType=VARCHAR},
      </if>
      <if test="record.zongGao != null" >
        zong_gao_ = #{record.zongGao,jdbcType=VARCHAR},
      </if>
      <if test="record.diShangDiXiaCengShu != null" >
        di_shang_di_xia_ceng_shu_ = #{record.diShangDiXiaCengShu,jdbcType=VARCHAR},
      </if>
      <if test="record.gongChengLeiBie != null" >
        gong_cheng_lei_bie_ = #{record.gongChengLeiBie,jdbcType=VARCHAR},
      </if>
      <if test="record.jieGouLeiXing != null" >
        jie_gou_lei_xing_ = #{record.jieGouLeiXing,jdbcType=VARCHAR},
      </if>
      <if test="record.jiChuJieGou != null" >
        ji_chu_jie_gou_ = #{record.jiChuJieGou,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gong_cheng_
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      xiang_mu_id = #{record.xiangMuId,jdbcType=INTEGER},
      dan_xiang_gong_cheng_ = #{record.danXiangGongCheng,jdbcType=VARCHAR},
      gui_mo_mian_ji_ = #{record.guiMoMianJi,jdbcType=VARCHAR},
      gui_mo_chang_du_ = #{record.guiMoChangDu,jdbcType=VARCHAR},
      gui_mo_qi_ta_ = #{record.guiMoQiTa,jdbcType=VARCHAR},
      yan_gao_ = #{record.yanGao,jdbcType=VARCHAR},
      zong_gao_ = #{record.zongGao,jdbcType=VARCHAR},
      di_shang_di_xia_ceng_shu_ = #{record.diShangDiXiaCengShu,jdbcType=VARCHAR},
      gong_cheng_lei_bie_ = #{record.gongChengLeiBie,jdbcType=VARCHAR},
      jie_gou_lei_xing_ = #{record.jieGouLeiXing,jdbcType=VARCHAR},
      ji_chu_jie_gou_ = #{record.jiChuJieGou,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.po.GongCheng" >
    update gong_cheng_
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="xiangMuId != null" >
        xiang_mu_id = #{xiangMuId,jdbcType=INTEGER},
      </if>
      <if test="danXiangGongCheng != null" >
        dan_xiang_gong_cheng_ = #{danXiangGongCheng,jdbcType=VARCHAR},
      </if>
      <if test="guiMoMianJi != null" >
        gui_mo_mian_ji_ = #{guiMoMianJi,jdbcType=VARCHAR},
      </if>
      <if test="guiMoChangDu != null" >
        gui_mo_chang_du_ = #{guiMoChangDu,jdbcType=VARCHAR},
      </if>
      <if test="guiMoQiTa != null" >
        gui_mo_qi_ta_ = #{guiMoQiTa,jdbcType=VARCHAR},
      </if>
      <if test="yanGao != null" >
        yan_gao_ = #{yanGao,jdbcType=VARCHAR},
      </if>
      <if test="zongGao != null" >
        zong_gao_ = #{zongGao,jdbcType=VARCHAR},
      </if>
      <if test="diShangDiXiaCengShu != null" >
        di_shang_di_xia_ceng_shu_ = #{diShangDiXiaCengShu,jdbcType=VARCHAR},
      </if>
      <if test="gongChengLeiBie != null" >
        gong_cheng_lei_bie_ = #{gongChengLeiBie,jdbcType=VARCHAR},
      </if>
      <if test="jieGouLeiXing != null" >
        jie_gou_lei_xing_ = #{jieGouLeiXing,jdbcType=VARCHAR},
      </if>
      <if test="jiChuJieGou != null" >
        ji_chu_jie_gou_ = #{jiChuJieGou,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.po.GongCheng" >
    update gong_cheng_
    set name = #{name,jdbcType=VARCHAR},
      xiang_mu_id = #{xiangMuId,jdbcType=INTEGER},
      dan_xiang_gong_cheng_ = #{danXiangGongCheng,jdbcType=VARCHAR},
      gui_mo_mian_ji_ = #{guiMoMianJi,jdbcType=VARCHAR},
      gui_mo_chang_du_ = #{guiMoChangDu,jdbcType=VARCHAR},
      gui_mo_qi_ta_ = #{guiMoQiTa,jdbcType=VARCHAR},
      yan_gao_ = #{yanGao,jdbcType=VARCHAR},
      zong_gao_ = #{zongGao,jdbcType=VARCHAR},
      di_shang_di_xia_ceng_shu_ = #{diShangDiXiaCengShu,jdbcType=VARCHAR},
      gong_cheng_lei_bie_ = #{gongChengLeiBie,jdbcType=VARCHAR},
      jie_gou_lei_xing_ = #{jieGouLeiXing,jdbcType=VARCHAR},
      ji_chu_jie_gou_ = #{jiChuJieGou,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>