<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="model.mapper.T161003Mapper" >
  <resultMap id="BaseResultMap" type="model.po.T161003" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="tr_order" property="trOrder" jdbcType="INTEGER" />
    <result column="xu_hao_" property="xuHao" jdbcType="VARCHAR" />
    <result column="wu_zi_ming_chen_" property="wuZiMingChen" jdbcType="VARCHAR" />
    <result column="gui_ge_xing_hao_" property="guiGeXingHao" jdbcType="VARCHAR" />
    <result column="dan_wei_" property="danWei" jdbcType="VARCHAR" />
    <result column="yu_suan_zhi_shu_liang_" property="yuSuanZhiShuLiang" jdbcType="VARCHAR" />
    <result column="yu_suan_zhi_dan_jia_" property="yuSuanZhiDanJia" jdbcType="VARCHAR" />
    <result column="yu_suan_zhi_jin_e_" property="yuSuanZhiJinE" jdbcType="VARCHAR" />
    <result column="shi_ji_zhi_shu_liang_" property="shiJiZhiShuLiang" jdbcType="VARCHAR" />
    <result column="shi_ji_zhi_dan_jia_" property="shiJiZhiDanJia" jdbcType="VARCHAR" />
    <result column="shi_ji_zhi_jin_e_" property="shiJiZhiJinE" jdbcType="VARCHAR" />
    <result column="ying_kui_" property="yingKui" jdbcType="VARCHAR" />
    <result column="liang_cha_ying_xiang_liang_cha_" property="liangChaYingXiangLiangCha" jdbcType="VARCHAR" />
    <result column="liang_cha_ying_xiang_jin_e_" property="liangChaYingXiangJinE" jdbcType="VARCHAR" />
    <result column="liang_cha_ying_xiang_zhan_bi_" property="liangChaYingXiangZhanBi" jdbcType="VARCHAR" />
    <result column="jia_cha_ying_xiang_jia_cha_" property="jiaChaYingXiangJiaCha" jdbcType="VARCHAR" />
    <result column="jia_cha_ying_xiang_jin_e_" property="jiaChaYingXiangJinE" jdbcType="VARCHAR" />
    <result column="jia_cha_ying_xiang_zhan_bi_" property="jiaChaYingXiangZhanBi" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, table_id, tr_order, xu_hao_, wu_zi_ming_chen_, gui_ge_xing_hao_, dan_wei_, yu_suan_zhi_shu_liang_, 
    yu_suan_zhi_dan_jia_, yu_suan_zhi_jin_e_, shi_ji_zhi_shu_liang_, shi_ji_zhi_dan_jia_, 
    shi_ji_zhi_jin_e_, ying_kui_, liang_cha_ying_xiang_liang_cha_, liang_cha_ying_xiang_jin_e_, 
    liang_cha_ying_xiang_zhan_bi_, jia_cha_ying_xiang_jia_cha_, jia_cha_ying_xiang_jin_e_, 
    jia_cha_ying_xiang_zhan_bi_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.po.T161003Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t161_003
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t161_003
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t161_003
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="model.po.T161003Example" >
    delete from t161_003
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.po.T161003" >
    insert into t161_003 (id, table_id, tr_order, 
      xu_hao_, wu_zi_ming_chen_, gui_ge_xing_hao_, 
      dan_wei_, yu_suan_zhi_shu_liang_, yu_suan_zhi_dan_jia_, 
      yu_suan_zhi_jin_e_, shi_ji_zhi_shu_liang_, shi_ji_zhi_dan_jia_, 
      shi_ji_zhi_jin_e_, ying_kui_, liang_cha_ying_xiang_liang_cha_, 
      liang_cha_ying_xiang_jin_e_, liang_cha_ying_xiang_zhan_bi_, 
      jia_cha_ying_xiang_jia_cha_, jia_cha_ying_xiang_jin_e_, 
      jia_cha_ying_xiang_zhan_bi_)
    values (#{id,jdbcType=INTEGER}, #{tableId,jdbcType=INTEGER}, #{trOrder,jdbcType=INTEGER}, 
      #{xuHao,jdbcType=VARCHAR}, #{wuZiMingChen,jdbcType=VARCHAR}, #{guiGeXingHao,jdbcType=VARCHAR}, 
      #{danWei,jdbcType=VARCHAR}, #{yuSuanZhiShuLiang,jdbcType=VARCHAR}, #{yuSuanZhiDanJia,jdbcType=VARCHAR}, 
      #{yuSuanZhiJinE,jdbcType=VARCHAR}, #{shiJiZhiShuLiang,jdbcType=VARCHAR}, #{shiJiZhiDanJia,jdbcType=VARCHAR}, 
      #{shiJiZhiJinE,jdbcType=VARCHAR}, #{yingKui,jdbcType=VARCHAR}, #{liangChaYingXiangLiangCha,jdbcType=VARCHAR}, 
      #{liangChaYingXiangJinE,jdbcType=VARCHAR}, #{liangChaYingXiangZhanBi,jdbcType=VARCHAR}, 
      #{jiaChaYingXiangJiaCha,jdbcType=VARCHAR}, #{jiaChaYingXiangJinE,jdbcType=VARCHAR}, 
      #{jiaChaYingXiangZhanBi,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.po.T161003" >
    insert into t161_003
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="trOrder != null" >
        tr_order,
      </if>
      <if test="xuHao != null" >
        xu_hao_,
      </if>
      <if test="wuZiMingChen != null" >
        wu_zi_ming_chen_,
      </if>
      <if test="guiGeXingHao != null" >
        gui_ge_xing_hao_,
      </if>
      <if test="danWei != null" >
        dan_wei_,
      </if>
      <if test="yuSuanZhiShuLiang != null" >
        yu_suan_zhi_shu_liang_,
      </if>
      <if test="yuSuanZhiDanJia != null" >
        yu_suan_zhi_dan_jia_,
      </if>
      <if test="yuSuanZhiJinE != null" >
        yu_suan_zhi_jin_e_,
      </if>
      <if test="shiJiZhiShuLiang != null" >
        shi_ji_zhi_shu_liang_,
      </if>
      <if test="shiJiZhiDanJia != null" >
        shi_ji_zhi_dan_jia_,
      </if>
      <if test="shiJiZhiJinE != null" >
        shi_ji_zhi_jin_e_,
      </if>
      <if test="yingKui != null" >
        ying_kui_,
      </if>
      <if test="liangChaYingXiangLiangCha != null" >
        liang_cha_ying_xiang_liang_cha_,
      </if>
      <if test="liangChaYingXiangJinE != null" >
        liang_cha_ying_xiang_jin_e_,
      </if>
      <if test="liangChaYingXiangZhanBi != null" >
        liang_cha_ying_xiang_zhan_bi_,
      </if>
      <if test="jiaChaYingXiangJiaCha != null" >
        jia_cha_ying_xiang_jia_cha_,
      </if>
      <if test="jiaChaYingXiangJinE != null" >
        jia_cha_ying_xiang_jin_e_,
      </if>
      <if test="jiaChaYingXiangZhanBi != null" >
        jia_cha_ying_xiang_zhan_bi_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="trOrder != null" >
        #{trOrder,jdbcType=INTEGER},
      </if>
      <if test="xuHao != null" >
        #{xuHao,jdbcType=VARCHAR},
      </if>
      <if test="wuZiMingChen != null" >
        #{wuZiMingChen,jdbcType=VARCHAR},
      </if>
      <if test="guiGeXingHao != null" >
        #{guiGeXingHao,jdbcType=VARCHAR},
      </if>
      <if test="danWei != null" >
        #{danWei,jdbcType=VARCHAR},
      </if>
      <if test="yuSuanZhiShuLiang != null" >
        #{yuSuanZhiShuLiang,jdbcType=VARCHAR},
      </if>
      <if test="yuSuanZhiDanJia != null" >
        #{yuSuanZhiDanJia,jdbcType=VARCHAR},
      </if>
      <if test="yuSuanZhiJinE != null" >
        #{yuSuanZhiJinE,jdbcType=VARCHAR},
      </if>
      <if test="shiJiZhiShuLiang != null" >
        #{shiJiZhiShuLiang,jdbcType=VARCHAR},
      </if>
      <if test="shiJiZhiDanJia != null" >
        #{shiJiZhiDanJia,jdbcType=VARCHAR},
      </if>
      <if test="shiJiZhiJinE != null" >
        #{shiJiZhiJinE,jdbcType=VARCHAR},
      </if>
      <if test="yingKui != null" >
        #{yingKui,jdbcType=VARCHAR},
      </if>
      <if test="liangChaYingXiangLiangCha != null" >
        #{liangChaYingXiangLiangCha,jdbcType=VARCHAR},
      </if>
      <if test="liangChaYingXiangJinE != null" >
        #{liangChaYingXiangJinE,jdbcType=VARCHAR},
      </if>
      <if test="liangChaYingXiangZhanBi != null" >
        #{liangChaYingXiangZhanBi,jdbcType=VARCHAR},
      </if>
      <if test="jiaChaYingXiangJiaCha != null" >
        #{jiaChaYingXiangJiaCha,jdbcType=VARCHAR},
      </if>
      <if test="jiaChaYingXiangJinE != null" >
        #{jiaChaYingXiangJinE,jdbcType=VARCHAR},
      </if>
      <if test="jiaChaYingXiangZhanBi != null" >
        #{jiaChaYingXiangZhanBi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.po.T161003Example" resultType="java.lang.Integer" >
    select count(*) from t161_003
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t161_003
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tableId != null" >
        table_id = #{record.tableId,jdbcType=INTEGER},
      </if>
      <if test="record.trOrder != null" >
        tr_order = #{record.trOrder,jdbcType=INTEGER},
      </if>
      <if test="record.xuHao != null" >
        xu_hao_ = #{record.xuHao,jdbcType=VARCHAR},
      </if>
      <if test="record.wuZiMingChen != null" >
        wu_zi_ming_chen_ = #{record.wuZiMingChen,jdbcType=VARCHAR},
      </if>
      <if test="record.guiGeXingHao != null" >
        gui_ge_xing_hao_ = #{record.guiGeXingHao,jdbcType=VARCHAR},
      </if>
      <if test="record.danWei != null" >
        dan_wei_ = #{record.danWei,jdbcType=VARCHAR},
      </if>
      <if test="record.yuSuanZhiShuLiang != null" >
        yu_suan_zhi_shu_liang_ = #{record.yuSuanZhiShuLiang,jdbcType=VARCHAR},
      </if>
      <if test="record.yuSuanZhiDanJia != null" >
        yu_suan_zhi_dan_jia_ = #{record.yuSuanZhiDanJia,jdbcType=VARCHAR},
      </if>
      <if test="record.yuSuanZhiJinE != null" >
        yu_suan_zhi_jin_e_ = #{record.yuSuanZhiJinE,jdbcType=VARCHAR},
      </if>
      <if test="record.shiJiZhiShuLiang != null" >
        shi_ji_zhi_shu_liang_ = #{record.shiJiZhiShuLiang,jdbcType=VARCHAR},
      </if>
      <if test="record.shiJiZhiDanJia != null" >
        shi_ji_zhi_dan_jia_ = #{record.shiJiZhiDanJia,jdbcType=VARCHAR},
      </if>
      <if test="record.shiJiZhiJinE != null" >
        shi_ji_zhi_jin_e_ = #{record.shiJiZhiJinE,jdbcType=VARCHAR},
      </if>
      <if test="record.yingKui != null" >
        ying_kui_ = #{record.yingKui,jdbcType=VARCHAR},
      </if>
      <if test="record.liangChaYingXiangLiangCha != null" >
        liang_cha_ying_xiang_liang_cha_ = #{record.liangChaYingXiangLiangCha,jdbcType=VARCHAR},
      </if>
      <if test="record.liangChaYingXiangJinE != null" >
        liang_cha_ying_xiang_jin_e_ = #{record.liangChaYingXiangJinE,jdbcType=VARCHAR},
      </if>
      <if test="record.liangChaYingXiangZhanBi != null" >
        liang_cha_ying_xiang_zhan_bi_ = #{record.liangChaYingXiangZhanBi,jdbcType=VARCHAR},
      </if>
      <if test="record.jiaChaYingXiangJiaCha != null" >
        jia_cha_ying_xiang_jia_cha_ = #{record.jiaChaYingXiangJiaCha,jdbcType=VARCHAR},
      </if>
      <if test="record.jiaChaYingXiangJinE != null" >
        jia_cha_ying_xiang_jin_e_ = #{record.jiaChaYingXiangJinE,jdbcType=VARCHAR},
      </if>
      <if test="record.jiaChaYingXiangZhanBi != null" >
        jia_cha_ying_xiang_zhan_bi_ = #{record.jiaChaYingXiangZhanBi,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t161_003
    set id = #{record.id,jdbcType=INTEGER},
      table_id = #{record.tableId,jdbcType=INTEGER},
      tr_order = #{record.trOrder,jdbcType=INTEGER},
      xu_hao_ = #{record.xuHao,jdbcType=VARCHAR},
      wu_zi_ming_chen_ = #{record.wuZiMingChen,jdbcType=VARCHAR},
      gui_ge_xing_hao_ = #{record.guiGeXingHao,jdbcType=VARCHAR},
      dan_wei_ = #{record.danWei,jdbcType=VARCHAR},
      yu_suan_zhi_shu_liang_ = #{record.yuSuanZhiShuLiang,jdbcType=VARCHAR},
      yu_suan_zhi_dan_jia_ = #{record.yuSuanZhiDanJia,jdbcType=VARCHAR},
      yu_suan_zhi_jin_e_ = #{record.yuSuanZhiJinE,jdbcType=VARCHAR},
      shi_ji_zhi_shu_liang_ = #{record.shiJiZhiShuLiang,jdbcType=VARCHAR},
      shi_ji_zhi_dan_jia_ = #{record.shiJiZhiDanJia,jdbcType=VARCHAR},
      shi_ji_zhi_jin_e_ = #{record.shiJiZhiJinE,jdbcType=VARCHAR},
      ying_kui_ = #{record.yingKui,jdbcType=VARCHAR},
      liang_cha_ying_xiang_liang_cha_ = #{record.liangChaYingXiangLiangCha,jdbcType=VARCHAR},
      liang_cha_ying_xiang_jin_e_ = #{record.liangChaYingXiangJinE,jdbcType=VARCHAR},
      liang_cha_ying_xiang_zhan_bi_ = #{record.liangChaYingXiangZhanBi,jdbcType=VARCHAR},
      jia_cha_ying_xiang_jia_cha_ = #{record.jiaChaYingXiangJiaCha,jdbcType=VARCHAR},
      jia_cha_ying_xiang_jin_e_ = #{record.jiaChaYingXiangJinE,jdbcType=VARCHAR},
      jia_cha_ying_xiang_zhan_bi_ = #{record.jiaChaYingXiangZhanBi,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.po.T161003" >
    update t161_003
    <set >
      <if test="tableId != null" >
        table_id = #{tableId,jdbcType=INTEGER},
      </if>
      <if test="trOrder != null" >
        tr_order = #{trOrder,jdbcType=INTEGER},
      </if>
      <if test="xuHao != null" >
        xu_hao_ = #{xuHao,jdbcType=VARCHAR},
      </if>
      <if test="wuZiMingChen != null" >
        wu_zi_ming_chen_ = #{wuZiMingChen,jdbcType=VARCHAR},
      </if>
      <if test="guiGeXingHao != null" >
        gui_ge_xing_hao_ = #{guiGeXingHao,jdbcType=VARCHAR},
      </if>
      <if test="danWei != null" >
        dan_wei_ = #{danWei,jdbcType=VARCHAR},
      </if>
      <if test="yuSuanZhiShuLiang != null" >
        yu_suan_zhi_shu_liang_ = #{yuSuanZhiShuLiang,jdbcType=VARCHAR},
      </if>
      <if test="yuSuanZhiDanJia != null" >
        yu_suan_zhi_dan_jia_ = #{yuSuanZhiDanJia,jdbcType=VARCHAR},
      </if>
      <if test="yuSuanZhiJinE != null" >
        yu_suan_zhi_jin_e_ = #{yuSuanZhiJinE,jdbcType=VARCHAR},
      </if>
      <if test="shiJiZhiShuLiang != null" >
        shi_ji_zhi_shu_liang_ = #{shiJiZhiShuLiang,jdbcType=VARCHAR},
      </if>
      <if test="shiJiZhiDanJia != null" >
        shi_ji_zhi_dan_jia_ = #{shiJiZhiDanJia,jdbcType=VARCHAR},
      </if>
      <if test="shiJiZhiJinE != null" >
        shi_ji_zhi_jin_e_ = #{shiJiZhiJinE,jdbcType=VARCHAR},
      </if>
      <if test="yingKui != null" >
        ying_kui_ = #{yingKui,jdbcType=VARCHAR},
      </if>
      <if test="liangChaYingXiangLiangCha != null" >
        liang_cha_ying_xiang_liang_cha_ = #{liangChaYingXiangLiangCha,jdbcType=VARCHAR},
      </if>
      <if test="liangChaYingXiangJinE != null" >
        liang_cha_ying_xiang_jin_e_ = #{liangChaYingXiangJinE,jdbcType=VARCHAR},
      </if>
      <if test="liangChaYingXiangZhanBi != null" >
        liang_cha_ying_xiang_zhan_bi_ = #{liangChaYingXiangZhanBi,jdbcType=VARCHAR},
      </if>
      <if test="jiaChaYingXiangJiaCha != null" >
        jia_cha_ying_xiang_jia_cha_ = #{jiaChaYingXiangJiaCha,jdbcType=VARCHAR},
      </if>
      <if test="jiaChaYingXiangJinE != null" >
        jia_cha_ying_xiang_jin_e_ = #{jiaChaYingXiangJinE,jdbcType=VARCHAR},
      </if>
      <if test="jiaChaYingXiangZhanBi != null" >
        jia_cha_ying_xiang_zhan_bi_ = #{jiaChaYingXiangZhanBi,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.po.T161003" >
    update t161_003
    set table_id = #{tableId,jdbcType=INTEGER},
      tr_order = #{trOrder,jdbcType=INTEGER},
      xu_hao_ = #{xuHao,jdbcType=VARCHAR},
      wu_zi_ming_chen_ = #{wuZiMingChen,jdbcType=VARCHAR},
      gui_ge_xing_hao_ = #{guiGeXingHao,jdbcType=VARCHAR},
      dan_wei_ = #{danWei,jdbcType=VARCHAR},
      yu_suan_zhi_shu_liang_ = #{yuSuanZhiShuLiang,jdbcType=VARCHAR},
      yu_suan_zhi_dan_jia_ = #{yuSuanZhiDanJia,jdbcType=VARCHAR},
      yu_suan_zhi_jin_e_ = #{yuSuanZhiJinE,jdbcType=VARCHAR},
      shi_ji_zhi_shu_liang_ = #{shiJiZhiShuLiang,jdbcType=VARCHAR},
      shi_ji_zhi_dan_jia_ = #{shiJiZhiDanJia,jdbcType=VARCHAR},
      shi_ji_zhi_jin_e_ = #{shiJiZhiJinE,jdbcType=VARCHAR},
      ying_kui_ = #{yingKui,jdbcType=VARCHAR},
      liang_cha_ying_xiang_liang_cha_ = #{liangChaYingXiangLiangCha,jdbcType=VARCHAR},
      liang_cha_ying_xiang_jin_e_ = #{liangChaYingXiangJinE,jdbcType=VARCHAR},
      liang_cha_ying_xiang_zhan_bi_ = #{liangChaYingXiangZhanBi,jdbcType=VARCHAR},
      jia_cha_ying_xiang_jia_cha_ = #{jiaChaYingXiangJiaCha,jdbcType=VARCHAR},
      jia_cha_ying_xiang_jin_e_ = #{jiaChaYingXiangJinE,jdbcType=VARCHAR},
      jia_cha_ying_xiang_zhan_bi_ = #{jiaChaYingXiangZhanBi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>