<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="model.mapper.WtableMapper" >
  <resultMap id="BaseResultMap" type="model.po.Wtable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tableType" property="tabletype" jdbcType="VARCHAR" />
    <result column="wen_dang_bian_hao_" property="wenDangBianHao" jdbcType="VARCHAR" />
    <result column="excel_id" property="excelId" jdbcType="INTEGER" />
    <result column="biao_dan_bian_hao_" property="biaoDanBianHao" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tableType, wen_dang_bian_hao_, excel_id, biao_dan_bian_hao_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.po.WtableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wtable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wtable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="model.po.WtableExample" >
    delete from wtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.po.Wtable" >
    insert into wtable (id, tableType, wen_dang_bian_hao_, 
      excel_id, biao_dan_bian_hao_)
    values (#{id,jdbcType=INTEGER}, #{tabletype,jdbcType=VARCHAR}, #{wenDangBianHao,jdbcType=VARCHAR}, 
      #{excelId,jdbcType=INTEGER}, #{biaoDanBianHao,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.po.Wtable" >
    insert into wtable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tabletype != null" >
        tableType,
      </if>
      <if test="wenDangBianHao != null" >
        wen_dang_bian_hao_,
      </if>
      <if test="excelId != null" >
        excel_id,
      </if>
      <if test="biaoDanBianHao != null" >
        biao_dan_bian_hao_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tabletype != null" >
        #{tabletype,jdbcType=VARCHAR},
      </if>
      <if test="wenDangBianHao != null" >
        #{wenDangBianHao,jdbcType=VARCHAR},
      </if>
      <if test="excelId != null" >
        #{excelId,jdbcType=INTEGER},
      </if>
      <if test="biaoDanBianHao != null" >
        #{biaoDanBianHao,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.po.WtableExample" resultType="java.lang.Integer" >
    select count(*) from wtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wtable
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tabletype != null" >
        tableType = #{record.tabletype,jdbcType=VARCHAR},
      </if>
      <if test="record.wenDangBianHao != null" >
        wen_dang_bian_hao_ = #{record.wenDangBianHao,jdbcType=VARCHAR},
      </if>
      <if test="record.excelId != null" >
        excel_id = #{record.excelId,jdbcType=INTEGER},
      </if>
      <if test="record.biaoDanBianHao != null" >
        biao_dan_bian_hao_ = #{record.biaoDanBianHao,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wtable
    set id = #{record.id,jdbcType=INTEGER},
      tableType = #{record.tabletype,jdbcType=VARCHAR},
      wen_dang_bian_hao_ = #{record.wenDangBianHao,jdbcType=VARCHAR},
      excel_id = #{record.excelId,jdbcType=INTEGER},
      biao_dan_bian_hao_ = #{record.biaoDanBianHao,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.po.Wtable" >
    update wtable
    <set >
      <if test="tabletype != null" >
        tableType = #{tabletype,jdbcType=VARCHAR},
      </if>
      <if test="wenDangBianHao != null" >
        wen_dang_bian_hao_ = #{wenDangBianHao,jdbcType=VARCHAR},
      </if>
      <if test="excelId != null" >
        excel_id = #{excelId,jdbcType=INTEGER},
      </if>
      <if test="biaoDanBianHao != null" >
        biao_dan_bian_hao_ = #{biaoDanBianHao,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.po.Wtable" >
    update wtable
    set tableType = #{tabletype,jdbcType=VARCHAR},
      wen_dang_bian_hao_ = #{wenDangBianHao,jdbcType=VARCHAR},
      excel_id = #{excelId,jdbcType=INTEGER},
      biao_dan_bian_hao_ = #{biaoDanBianHao,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>