<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="model.mapper.T152007Mapper" >
  <resultMap id="BaseResultMap" type="model.po.T152007" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="tr_order" property="trOrder" jdbcType="INTEGER" />
    <result column="cheng_ben_bian_ma_" property="chengBenBianMa" jdbcType="VARCHAR" />
    <result column="cheng_ben_xiang_mu_" property="chengBenXiangMu" jdbcType="VARCHAR" />
    <result column="na_rong_fan_wei_miao_shu_" property="naRongFanWeiMiaoShu" jdbcType="VARCHAR" />
    <result column="dan_jia_" property="danJia" jdbcType="VARCHAR" />
    <result column="ji_suan_ji_shu_" property="jiSuanJiShu" jdbcType="VARCHAR" />
    <result column="yu_suan_cheng_ben_" property="yuSuanChengBen" jdbcType="VARCHAR" />
    <result column="bei_zhu_" property="beiZhu" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, table_id, tr_order, cheng_ben_bian_ma_, cheng_ben_xiang_mu_, na_rong_fan_wei_miao_shu_, 
    dan_jia_, ji_suan_ji_shu_, yu_suan_cheng_ben_, bei_zhu_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.po.T152007Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t152_007
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t152_007
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t152_007
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="model.po.T152007Example" >
    delete from t152_007
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.po.T152007" >
    insert into t152_007 (id, table_id, tr_order, 
      cheng_ben_bian_ma_, cheng_ben_xiang_mu_, na_rong_fan_wei_miao_shu_, 
      dan_jia_, ji_suan_ji_shu_, yu_suan_cheng_ben_, 
      bei_zhu_)
    values (#{id,jdbcType=INTEGER}, #{tableId,jdbcType=INTEGER}, #{trOrder,jdbcType=INTEGER}, 
      #{chengBenBianMa,jdbcType=VARCHAR}, #{chengBenXiangMu,jdbcType=VARCHAR}, #{naRongFanWeiMiaoShu,jdbcType=VARCHAR}, 
      #{danJia,jdbcType=VARCHAR}, #{jiSuanJiShu,jdbcType=VARCHAR}, #{yuSuanChengBen,jdbcType=VARCHAR}, 
      #{beiZhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.po.T152007" >
    insert into t152_007
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="trOrder != null" >
        tr_order,
      </if>
      <if test="chengBenBianMa != null" >
        cheng_ben_bian_ma_,
      </if>
      <if test="chengBenXiangMu != null" >
        cheng_ben_xiang_mu_,
      </if>
      <if test="naRongFanWeiMiaoShu != null" >
        na_rong_fan_wei_miao_shu_,
      </if>
      <if test="danJia != null" >
        dan_jia_,
      </if>
      <if test="jiSuanJiShu != null" >
        ji_suan_ji_shu_,
      </if>
      <if test="yuSuanChengBen != null" >
        yu_suan_cheng_ben_,
      </if>
      <if test="beiZhu != null" >
        bei_zhu_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="trOrder != null" >
        #{trOrder,jdbcType=INTEGER},
      </if>
      <if test="chengBenBianMa != null" >
        #{chengBenBianMa,jdbcType=VARCHAR},
      </if>
      <if test="chengBenXiangMu != null" >
        #{chengBenXiangMu,jdbcType=VARCHAR},
      </if>
      <if test="naRongFanWeiMiaoShu != null" >
        #{naRongFanWeiMiaoShu,jdbcType=VARCHAR},
      </if>
      <if test="danJia != null" >
        #{danJia,jdbcType=VARCHAR},
      </if>
      <if test="jiSuanJiShu != null" >
        #{jiSuanJiShu,jdbcType=VARCHAR},
      </if>
      <if test="yuSuanChengBen != null" >
        #{yuSuanChengBen,jdbcType=VARCHAR},
      </if>
      <if test="beiZhu != null" >
        #{beiZhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.po.T152007Example" resultType="java.lang.Integer" >
    select count(*) from t152_007
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t152_007
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tableId != null" >
        table_id = #{record.tableId,jdbcType=INTEGER},
      </if>
      <if test="record.trOrder != null" >
        tr_order = #{record.trOrder,jdbcType=INTEGER},
      </if>
      <if test="record.chengBenBianMa != null" >
        cheng_ben_bian_ma_ = #{record.chengBenBianMa,jdbcType=VARCHAR},
      </if>
      <if test="record.chengBenXiangMu != null" >
        cheng_ben_xiang_mu_ = #{record.chengBenXiangMu,jdbcType=VARCHAR},
      </if>
      <if test="record.naRongFanWeiMiaoShu != null" >
        na_rong_fan_wei_miao_shu_ = #{record.naRongFanWeiMiaoShu,jdbcType=VARCHAR},
      </if>
      <if test="record.danJia != null" >
        dan_jia_ = #{record.danJia,jdbcType=VARCHAR},
      </if>
      <if test="record.jiSuanJiShu != null" >
        ji_suan_ji_shu_ = #{record.jiSuanJiShu,jdbcType=VARCHAR},
      </if>
      <if test="record.yuSuanChengBen != null" >
        yu_suan_cheng_ben_ = #{record.yuSuanChengBen,jdbcType=VARCHAR},
      </if>
      <if test="record.beiZhu != null" >
        bei_zhu_ = #{record.beiZhu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t152_007
    set id = #{record.id,jdbcType=INTEGER},
      table_id = #{record.tableId,jdbcType=INTEGER},
      tr_order = #{record.trOrder,jdbcType=INTEGER},
      cheng_ben_bian_ma_ = #{record.chengBenBianMa,jdbcType=VARCHAR},
      cheng_ben_xiang_mu_ = #{record.chengBenXiangMu,jdbcType=VARCHAR},
      na_rong_fan_wei_miao_shu_ = #{record.naRongFanWeiMiaoShu,jdbcType=VARCHAR},
      dan_jia_ = #{record.danJia,jdbcType=VARCHAR},
      ji_suan_ji_shu_ = #{record.jiSuanJiShu,jdbcType=VARCHAR},
      yu_suan_cheng_ben_ = #{record.yuSuanChengBen,jdbcType=VARCHAR},
      bei_zhu_ = #{record.beiZhu,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.po.T152007" >
    update t152_007
    <set >
      <if test="tableId != null" >
        table_id = #{tableId,jdbcType=INTEGER},
      </if>
      <if test="trOrder != null" >
        tr_order = #{trOrder,jdbcType=INTEGER},
      </if>
      <if test="chengBenBianMa != null" >
        cheng_ben_bian_ma_ = #{chengBenBianMa,jdbcType=VARCHAR},
      </if>
      <if test="chengBenXiangMu != null" >
        cheng_ben_xiang_mu_ = #{chengBenXiangMu,jdbcType=VARCHAR},
      </if>
      <if test="naRongFanWeiMiaoShu != null" >
        na_rong_fan_wei_miao_shu_ = #{naRongFanWeiMiaoShu,jdbcType=VARCHAR},
      </if>
      <if test="danJia != null" >
        dan_jia_ = #{danJia,jdbcType=VARCHAR},
      </if>
      <if test="jiSuanJiShu != null" >
        ji_suan_ji_shu_ = #{jiSuanJiShu,jdbcType=VARCHAR},
      </if>
      <if test="yuSuanChengBen != null" >
        yu_suan_cheng_ben_ = #{yuSuanChengBen,jdbcType=VARCHAR},
      </if>
      <if test="beiZhu != null" >
        bei_zhu_ = #{beiZhu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.po.T152007" >
    update t152_007
    set table_id = #{tableId,jdbcType=INTEGER},
      tr_order = #{trOrder,jdbcType=INTEGER},
      cheng_ben_bian_ma_ = #{chengBenBianMa,jdbcType=VARCHAR},
      cheng_ben_xiang_mu_ = #{chengBenXiangMu,jdbcType=VARCHAR},
      na_rong_fan_wei_miao_shu_ = #{naRongFanWeiMiaoShu,jdbcType=VARCHAR},
      dan_jia_ = #{danJia,jdbcType=VARCHAR},
      ji_suan_ji_shu_ = #{jiSuanJiShu,jdbcType=VARCHAR},
      yu_suan_cheng_ben_ = #{yuSuanChengBen,jdbcType=VARCHAR},
      bei_zhu_ = #{beiZhu,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>