<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="model.mapper.T158003Mapper" >
  <resultMap id="BaseResultMap" type="model.po.T158003" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="tr_order" property="trOrder" jdbcType="INTEGER" />
    <result column="tr_type" property="trType" jdbcType="VARCHAR" />
    <result column="xu_hao_" property="xuHao" jdbcType="VARCHAR" />
    <result column="wu_zi_ming_chen_" property="wuZiMingChen" jdbcType="VARCHAR" />
    <result column="gui_ge_xing_hao_" property="guiGeXingHao" jdbcType="VARCHAR" />
    <result column="dan_wei_" property="danWei" jdbcType="VARCHAR" />
    <result column="ben_yue_yu_suan_cheng_ben_yu_suan_dan_jia_" property="benYueYuSuanChengBenYuSuanDanJia" jdbcType="VARCHAR" />
    <result column="ben_yue_yu_suan_cheng_ben_yu_suan_yong_liang_" property="benYueYuSuanChengBenYuSuanYongLiang" jdbcType="VARCHAR" />
    <result column="ben_yue_yu_suan_cheng_ben_he_jia_" property="benYueYuSuanChengBenHeJia" jdbcType="VARCHAR" />
    <result column="sun_hao_lv_" property="sunHaoLv" jdbcType="VARCHAR" />
    <result column="ben_yue_shi_ji_cheng_ben_cai_gou_dan_jia_" property="benYueShiJiChengBenCaiGouDanJia" jdbcType="VARCHAR" />
    <result column="ben_yue_shi_ji_cheng_ben_shi_ji_yong_liang_" property="benYueShiJiChengBenShiJiYongLiang" jdbcType="VARCHAR" />
    <result column="ben_yue_shi_ji_cheng_ben_he_jia_" property="benYueShiJiChengBenHeJia" jdbcType="VARCHAR" />
    <result column="suo_shu_cheng_ben_xiang_mu_" property="suoShuChengBenXiangMu" jdbcType="VARCHAR" />
    <result column="shi_yong_bu_wei_" property="shiYongBuWei" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, table_id, tr_order, tr_type, xu_hao_, wu_zi_ming_chen_, gui_ge_xing_hao_, dan_wei_, 
    ben_yue_yu_suan_cheng_ben_yu_suan_dan_jia_, ben_yue_yu_suan_cheng_ben_yu_suan_yong_liang_, 
    ben_yue_yu_suan_cheng_ben_he_jia_, sun_hao_lv_, ben_yue_shi_ji_cheng_ben_cai_gou_dan_jia_, 
    ben_yue_shi_ji_cheng_ben_shi_ji_yong_liang_, ben_yue_shi_ji_cheng_ben_he_jia_, suo_shu_cheng_ben_xiang_mu_, 
    shi_yong_bu_wei_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.po.T158003Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t158_003
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t158_003
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t158_003
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="model.po.T158003Example" >
    delete from t158_003
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.po.T158003" >
    insert into t158_003 (id, table_id, tr_order, 
      tr_type, xu_hao_, wu_zi_ming_chen_, 
      gui_ge_xing_hao_, dan_wei_, ben_yue_yu_suan_cheng_ben_yu_suan_dan_jia_, 
      ben_yue_yu_suan_cheng_ben_yu_suan_yong_liang_, ben_yue_yu_suan_cheng_ben_he_jia_, 
      sun_hao_lv_, ben_yue_shi_ji_cheng_ben_cai_gou_dan_jia_, 
      ben_yue_shi_ji_cheng_ben_shi_ji_yong_liang_, ben_yue_shi_ji_cheng_ben_he_jia_, 
      suo_shu_cheng_ben_xiang_mu_, shi_yong_bu_wei_)
    values (#{id,jdbcType=INTEGER}, #{tableId,jdbcType=INTEGER}, #{trOrder,jdbcType=INTEGER}, 
      #{trType,jdbcType=VARCHAR}, #{xuHao,jdbcType=VARCHAR}, #{wuZiMingChen,jdbcType=VARCHAR}, 
      #{guiGeXingHao,jdbcType=VARCHAR}, #{danWei,jdbcType=VARCHAR}, #{benYueYuSuanChengBenYuSuanDanJia,jdbcType=VARCHAR}, 
      #{benYueYuSuanChengBenYuSuanYongLiang,jdbcType=VARCHAR}, #{benYueYuSuanChengBenHeJia,jdbcType=VARCHAR}, 
      #{sunHaoLv,jdbcType=VARCHAR}, #{benYueShiJiChengBenCaiGouDanJia,jdbcType=VARCHAR}, 
      #{benYueShiJiChengBenShiJiYongLiang,jdbcType=VARCHAR}, #{benYueShiJiChengBenHeJia,jdbcType=VARCHAR}, 
      #{suoShuChengBenXiangMu,jdbcType=VARCHAR}, #{shiYongBuWei,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.po.T158003" >
    insert into t158_003
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="trOrder != null" >
        tr_order,
      </if>
      <if test="trType != null" >
        tr_type,
      </if>
      <if test="xuHao != null" >
        xu_hao_,
      </if>
      <if test="wuZiMingChen != null" >
        wu_zi_ming_chen_,
      </if>
      <if test="guiGeXingHao != null" >
        gui_ge_xing_hao_,
      </if>
      <if test="danWei != null" >
        dan_wei_,
      </if>
      <if test="benYueYuSuanChengBenYuSuanDanJia != null" >
        ben_yue_yu_suan_cheng_ben_yu_suan_dan_jia_,
      </if>
      <if test="benYueYuSuanChengBenYuSuanYongLiang != null" >
        ben_yue_yu_suan_cheng_ben_yu_suan_yong_liang_,
      </if>
      <if test="benYueYuSuanChengBenHeJia != null" >
        ben_yue_yu_suan_cheng_ben_he_jia_,
      </if>
      <if test="sunHaoLv != null" >
        sun_hao_lv_,
      </if>
      <if test="benYueShiJiChengBenCaiGouDanJia != null" >
        ben_yue_shi_ji_cheng_ben_cai_gou_dan_jia_,
      </if>
      <if test="benYueShiJiChengBenShiJiYongLiang != null" >
        ben_yue_shi_ji_cheng_ben_shi_ji_yong_liang_,
      </if>
      <if test="benYueShiJiChengBenHeJia != null" >
        ben_yue_shi_ji_cheng_ben_he_jia_,
      </if>
      <if test="suoShuChengBenXiangMu != null" >
        suo_shu_cheng_ben_xiang_mu_,
      </if>
      <if test="shiYongBuWei != null" >
        shi_yong_bu_wei_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="trOrder != null" >
        #{trOrder,jdbcType=INTEGER},
      </if>
      <if test="trType != null" >
        #{trType,jdbcType=VARCHAR},
      </if>
      <if test="xuHao != null" >
        #{xuHao,jdbcType=VARCHAR},
      </if>
      <if test="wuZiMingChen != null" >
        #{wuZiMingChen,jdbcType=VARCHAR},
      </if>
      <if test="guiGeXingHao != null" >
        #{guiGeXingHao,jdbcType=VARCHAR},
      </if>
      <if test="danWei != null" >
        #{danWei,jdbcType=VARCHAR},
      </if>
      <if test="benYueYuSuanChengBenYuSuanDanJia != null" >
        #{benYueYuSuanChengBenYuSuanDanJia,jdbcType=VARCHAR},
      </if>
      <if test="benYueYuSuanChengBenYuSuanYongLiang != null" >
        #{benYueYuSuanChengBenYuSuanYongLiang,jdbcType=VARCHAR},
      </if>
      <if test="benYueYuSuanChengBenHeJia != null" >
        #{benYueYuSuanChengBenHeJia,jdbcType=VARCHAR},
      </if>
      <if test="sunHaoLv != null" >
        #{sunHaoLv,jdbcType=VARCHAR},
      </if>
      <if test="benYueShiJiChengBenCaiGouDanJia != null" >
        #{benYueShiJiChengBenCaiGouDanJia,jdbcType=VARCHAR},
      </if>
      <if test="benYueShiJiChengBenShiJiYongLiang != null" >
        #{benYueShiJiChengBenShiJiYongLiang,jdbcType=VARCHAR},
      </if>
      <if test="benYueShiJiChengBenHeJia != null" >
        #{benYueShiJiChengBenHeJia,jdbcType=VARCHAR},
      </if>
      <if test="suoShuChengBenXiangMu != null" >
        #{suoShuChengBenXiangMu,jdbcType=VARCHAR},
      </if>
      <if test="shiYongBuWei != null" >
        #{shiYongBuWei,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.po.T158003Example" resultType="java.lang.Integer" >
    select count(*) from t158_003
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t158_003
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tableId != null" >
        table_id = #{record.tableId,jdbcType=INTEGER},
      </if>
      <if test="record.trOrder != null" >
        tr_order = #{record.trOrder,jdbcType=INTEGER},
      </if>
      <if test="record.trType != null" >
        tr_type = #{record.trType,jdbcType=VARCHAR},
      </if>
      <if test="record.xuHao != null" >
        xu_hao_ = #{record.xuHao,jdbcType=VARCHAR},
      </if>
      <if test="record.wuZiMingChen != null" >
        wu_zi_ming_chen_ = #{record.wuZiMingChen,jdbcType=VARCHAR},
      </if>
      <if test="record.guiGeXingHao != null" >
        gui_ge_xing_hao_ = #{record.guiGeXingHao,jdbcType=VARCHAR},
      </if>
      <if test="record.danWei != null" >
        dan_wei_ = #{record.danWei,jdbcType=VARCHAR},
      </if>
      <if test="record.benYueYuSuanChengBenYuSuanDanJia != null" >
        ben_yue_yu_suan_cheng_ben_yu_suan_dan_jia_ = #{record.benYueYuSuanChengBenYuSuanDanJia,jdbcType=VARCHAR},
      </if>
      <if test="record.benYueYuSuanChengBenYuSuanYongLiang != null" >
        ben_yue_yu_suan_cheng_ben_yu_suan_yong_liang_ = #{record.benYueYuSuanChengBenYuSuanYongLiang,jdbcType=VARCHAR},
      </if>
      <if test="record.benYueYuSuanChengBenHeJia != null" >
        ben_yue_yu_suan_cheng_ben_he_jia_ = #{record.benYueYuSuanChengBenHeJia,jdbcType=VARCHAR},
      </if>
      <if test="record.sunHaoLv != null" >
        sun_hao_lv_ = #{record.sunHaoLv,jdbcType=VARCHAR},
      </if>
      <if test="record.benYueShiJiChengBenCaiGouDanJia != null" >
        ben_yue_shi_ji_cheng_ben_cai_gou_dan_jia_ = #{record.benYueShiJiChengBenCaiGouDanJia,jdbcType=VARCHAR},
      </if>
      <if test="record.benYueShiJiChengBenShiJiYongLiang != null" >
        ben_yue_shi_ji_cheng_ben_shi_ji_yong_liang_ = #{record.benYueShiJiChengBenShiJiYongLiang,jdbcType=VARCHAR},
      </if>
      <if test="record.benYueShiJiChengBenHeJia != null" >
        ben_yue_shi_ji_cheng_ben_he_jia_ = #{record.benYueShiJiChengBenHeJia,jdbcType=VARCHAR},
      </if>
      <if test="record.suoShuChengBenXiangMu != null" >
        suo_shu_cheng_ben_xiang_mu_ = #{record.suoShuChengBenXiangMu,jdbcType=VARCHAR},
      </if>
      <if test="record.shiYongBuWei != null" >
        shi_yong_bu_wei_ = #{record.shiYongBuWei,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t158_003
    set id = #{record.id,jdbcType=INTEGER},
      table_id = #{record.tableId,jdbcType=INTEGER},
      tr_order = #{record.trOrder,jdbcType=INTEGER},
      tr_type = #{record.trType,jdbcType=VARCHAR},
      xu_hao_ = #{record.xuHao,jdbcType=VARCHAR},
      wu_zi_ming_chen_ = #{record.wuZiMingChen,jdbcType=VARCHAR},
      gui_ge_xing_hao_ = #{record.guiGeXingHao,jdbcType=VARCHAR},
      dan_wei_ = #{record.danWei,jdbcType=VARCHAR},
      ben_yue_yu_suan_cheng_ben_yu_suan_dan_jia_ = #{record.benYueYuSuanChengBenYuSuanDanJia,jdbcType=VARCHAR},
      ben_yue_yu_suan_cheng_ben_yu_suan_yong_liang_ = #{record.benYueYuSuanChengBenYuSuanYongLiang,jdbcType=VARCHAR},
      ben_yue_yu_suan_cheng_ben_he_jia_ = #{record.benYueYuSuanChengBenHeJia,jdbcType=VARCHAR},
      sun_hao_lv_ = #{record.sunHaoLv,jdbcType=VARCHAR},
      ben_yue_shi_ji_cheng_ben_cai_gou_dan_jia_ = #{record.benYueShiJiChengBenCaiGouDanJia,jdbcType=VARCHAR},
      ben_yue_shi_ji_cheng_ben_shi_ji_yong_liang_ = #{record.benYueShiJiChengBenShiJiYongLiang,jdbcType=VARCHAR},
      ben_yue_shi_ji_cheng_ben_he_jia_ = #{record.benYueShiJiChengBenHeJia,jdbcType=VARCHAR},
      suo_shu_cheng_ben_xiang_mu_ = #{record.suoShuChengBenXiangMu,jdbcType=VARCHAR},
      shi_yong_bu_wei_ = #{record.shiYongBuWei,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.po.T158003" >
    update t158_003
    <set >
      <if test="tableId != null" >
        table_id = #{tableId,jdbcType=INTEGER},
      </if>
      <if test="trOrder != null" >
        tr_order = #{trOrder,jdbcType=INTEGER},
      </if>
      <if test="trType != null" >
        tr_type = #{trType,jdbcType=VARCHAR},
      </if>
      <if test="xuHao != null" >
        xu_hao_ = #{xuHao,jdbcType=VARCHAR},
      </if>
      <if test="wuZiMingChen != null" >
        wu_zi_ming_chen_ = #{wuZiMingChen,jdbcType=VARCHAR},
      </if>
      <if test="guiGeXingHao != null" >
        gui_ge_xing_hao_ = #{guiGeXingHao,jdbcType=VARCHAR},
      </if>
      <if test="danWei != null" >
        dan_wei_ = #{danWei,jdbcType=VARCHAR},
      </if>
      <if test="benYueYuSuanChengBenYuSuanDanJia != null" >
        ben_yue_yu_suan_cheng_ben_yu_suan_dan_jia_ = #{benYueYuSuanChengBenYuSuanDanJia,jdbcType=VARCHAR},
      </if>
      <if test="benYueYuSuanChengBenYuSuanYongLiang != null" >
        ben_yue_yu_suan_cheng_ben_yu_suan_yong_liang_ = #{benYueYuSuanChengBenYuSuanYongLiang,jdbcType=VARCHAR},
      </if>
      <if test="benYueYuSuanChengBenHeJia != null" >
        ben_yue_yu_suan_cheng_ben_he_jia_ = #{benYueYuSuanChengBenHeJia,jdbcType=VARCHAR},
      </if>
      <if test="sunHaoLv != null" >
        sun_hao_lv_ = #{sunHaoLv,jdbcType=VARCHAR},
      </if>
      <if test="benYueShiJiChengBenCaiGouDanJia != null" >
        ben_yue_shi_ji_cheng_ben_cai_gou_dan_jia_ = #{benYueShiJiChengBenCaiGouDanJia,jdbcType=VARCHAR},
      </if>
      <if test="benYueShiJiChengBenShiJiYongLiang != null" >
        ben_yue_shi_ji_cheng_ben_shi_ji_yong_liang_ = #{benYueShiJiChengBenShiJiYongLiang,jdbcType=VARCHAR},
      </if>
      <if test="benYueShiJiChengBenHeJia != null" >
        ben_yue_shi_ji_cheng_ben_he_jia_ = #{benYueShiJiChengBenHeJia,jdbcType=VARCHAR},
      </if>
      <if test="suoShuChengBenXiangMu != null" >
        suo_shu_cheng_ben_xiang_mu_ = #{suoShuChengBenXiangMu,jdbcType=VARCHAR},
      </if>
      <if test="shiYongBuWei != null" >
        shi_yong_bu_wei_ = #{shiYongBuWei,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.po.T158003" >
    update t158_003
    set table_id = #{tableId,jdbcType=INTEGER},
      tr_order = #{trOrder,jdbcType=INTEGER},
      tr_type = #{trType,jdbcType=VARCHAR},
      xu_hao_ = #{xuHao,jdbcType=VARCHAR},
      wu_zi_ming_chen_ = #{wuZiMingChen,jdbcType=VARCHAR},
      gui_ge_xing_hao_ = #{guiGeXingHao,jdbcType=VARCHAR},
      dan_wei_ = #{danWei,jdbcType=VARCHAR},
      ben_yue_yu_suan_cheng_ben_yu_suan_dan_jia_ = #{benYueYuSuanChengBenYuSuanDanJia,jdbcType=VARCHAR},
      ben_yue_yu_suan_cheng_ben_yu_suan_yong_liang_ = #{benYueYuSuanChengBenYuSuanYongLiang,jdbcType=VARCHAR},
      ben_yue_yu_suan_cheng_ben_he_jia_ = #{benYueYuSuanChengBenHeJia,jdbcType=VARCHAR},
      sun_hao_lv_ = #{sunHaoLv,jdbcType=VARCHAR},
      ben_yue_shi_ji_cheng_ben_cai_gou_dan_jia_ = #{benYueShiJiChengBenCaiGouDanJia,jdbcType=VARCHAR},
      ben_yue_shi_ji_cheng_ben_shi_ji_yong_liang_ = #{benYueShiJiChengBenShiJiYongLiang,jdbcType=VARCHAR},
      ben_yue_shi_ji_cheng_ben_he_jia_ = #{benYueShiJiChengBenHeJia,jdbcType=VARCHAR},
      suo_shu_cheng_ben_xiang_mu_ = #{suoShuChengBenXiangMu,jdbcType=VARCHAR},
      shi_yong_bu_wei_ = #{shiYongBuWei,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>